<app-navbar></app-navbar>
<div class="container">
    <h1>SINDICATO UNIFICADO DE GUAGUAS</h1>
    <br>
    <p>
        Conscientes de que los tiempos han cambiado y tanto las necesidades de los trabajadores/as como el marco donde se desarrollan las relaciones laborales son diferentes, estamos plenamente convencidos de que es la unidad de acción, y solo la unidad de acción, la que puede garantizar el respeto de nuestros derechos y la consecución de metas futuras.
    <br><br>
        Sabedores de que no corren buenos tiempos para la clase trabajadora es más que un deber, una obligación, de todos/as trabajar para recuperar el espacio perdido y únicamente a través de la representación obrera podemos alcanzar ese objetivo.
    <br><br>
        Al hilo de esta realidad, queremos hacerles participe de la presentación del nuevo Sindicato Unificado de Guaguas (S.U.G.) que nace desde la visión común de la mayoría de las fuerzas sindicales de la empresa Guaguas Municipales S.A. de la necesidad de aunar nuestros esfuerzos en pos de un objetivo común, que no es otro que la defensa de los derechos de los trabajadores y trabajadoras de esta empresa.
    <br><br>
        Consideramos un deber  y un privilegio representar los intereses de nuestros compañeros y compañeras así como trabajar en todos los ámbitos a nuestro alcance, para que nuestro puesto de trabajo sea cada vez más seguro y digno, esté razonablemente remunerado y satisfaga las expectativas de todos    
    <br><br>
        El S.U.G. surge desde el consenso. La puesta en común de los diversos puntos de vista de cada sección sindical y la búsqueda de nexos de unión que afiancen la garantía de un trabajo en común, ha sido de vital importancia para llegar a un acuerdo de unificación que redunde en beneficio de todos.
    <br><br>
        Del mismo modo, esta nueva organización nace desde la responsabilidad. La misión primordial del sindicato es defender derechos y conseguir mejoras. La responsabilidad de actuar unidos para conseguir esos objetivos irrenunciables, deja en un segundo plano pretensiones personales e ideologías, y se centra en la actuación responsable, la negociación inteligente y la firmeza en nuestra postura.
    <br><br>
        El S.U.G. se ampara en el compromiso de los miembros de las secciones sindicales que apostaron por su formación. Este compromiso es el de crear una organización sindical donde quepan todos los puntos de vista, donde se escuchen todas las demandas y en la que se atiendan todas la dudas y  necesidades de los trabajadores/as en lo relativo a la prestación del servicio y a las condiciones de trabajo.
    <br><br>
        Por último, el nuevo Sindicato Unificado de Guaguas cree que la unión hace la fuerza. La idea principal es garantizar la escucha de todas las aportaciones y articularlas en acciones y medidas que fomenten la dignidad, el respeto y la cooperación. Con todo esto nos marcamos el objetivo de conseguir una organización fuerte, honesta, transparente y participativa capaz de dar respuesta en cada momento a las verdaderas necesidades de todos y todas.
    <br><br>
        No cabe duda que los guagüeros/as tenemos un sitio en la historia de la lucha obrera de Canarias, ahora se presenta ante nosotros la posibilidad de escribir un nueva página en esa historia.
    <br><br>
        Ese es nuestro reto. Mirando al futuro</p>
</div>