<app-navbar></app-navbar>
<div class="container">
    <form>
        <div class="mb-3 container__input">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
            <div id="emailHelp" class="form-text">* Obligatorio para registrarse</div>
        </div>
        <div class="mb-3 container__input">
            <label for="exampleInputEmail1" class="form-label">Apellidos</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">* Obligatorio para registrarse</div>
        </div>
        <div class="mb-3 container__input">
            <label for="exampleInputEmail1" class="form-label">Número de empleado</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">* Obligatorio para registrarse</div>
        </div>
        <div class="mb-3 container__input">
            <label for="exampleInputEmail1" class="form-label">Categoría</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">* Obligatorio para registrarse</div>
        </div>
        <div class="mb-3 container__input">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">* Obligatorio para registrarse</div>
        </div>
        <div class="mb-3 container__input">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <div id="emailHelp" class="form-text">* Obligatorio para registrarse</div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Acepto los términos y condiciones</label>
            <div id="emailHelp" class="form-text">* Obligatorio para registrarse</div>
        </div>
        <button type="submit" class="btn btn-outline-success container__button">Registrarse</button>
    </form>
</div>
<div>
    <p>Para iniciar sesion pulse <a routerLink="/login">aquí</a></p>
</div>
<app-footer></app-footer>