<footer class="footer">
    <p class="footer__text">©2021 by SINDICATO UNIFICADO DE GUAGUAS</p> 
    <a href="https://twitter.com/suguaguas?lang=es" class="footer__icon__twitter" target="_blank">
        <img src="\assets\img\iconmonstr-twitter-4.svg" alt="logo twitter">
    </a> 
<a href="https://es-es.facebook.com/pages/category/Labor-Union/Sindicato-Unificado-de-Guaguas-414339185413339/" class="footer__icon__faceboock" target="_blank">
        <img src="\assets\img\facebook_black_24dp.svg" alt="logo faceboock">
    </a>
</footer>