<header>
    <div class="banner">
        <img class="banner__logo" src="/assets/img/Logo4.png" alt="Logo">
        <div class="banner__center">
            <h1 class="banner__text">SINDICATO UNIFICADO DE GUAGUAS</h1>
            <img class="banner__img" src="/assets/img/city.webp" alt="Img Banner" style="width:582px;height:auto;object-fit:cover;object-position:50% 50%">
        </div>
        <a class="banner__time">{{resultado}}</a>
    </div>
    <div class="navbar">
        <nav>
            <a class="navbar__item" routerLink="">Inicio</a>
            <a class="navbar__item" routerLink="/about">Nosotros</a>
            <a class="navbar__item" routerLink="/galery">Galeria</a>
            <a class="navbar__item" routerLink="/afiliate" [hidden]="hidden">Afiliados</a>
            <a class="navbar__item" routerLink="/contact">Contacto</a>
            <a class="navbar__item" routerLink="/discount" [hidden]="hidden">Descuentos</a>
            <a class="navbar__item" routerLink="/admin" [hidden]="isAdminHidden">Admin</a>
        </nav>
        <nav>
            
            <a routerLink="/register" class="navbar__login" (click)="logOut()">
                <img class="navbar__img" src="\assets\img\usuario.svg" width="20" height="20" alt="">
                Iniciar/Registrarse
            </a>
        </nav>
    </div>
</header>