<header>
    <div class="banner">
        <img class="banner__logo" src="/assets/img/logo.png" alt="Logo">
        <div class="banner__center">
            <h1 class="banner__text">SINDICATO UNIFICADO DE GUAGUAS</h1>
            <img class="banner__img" src="/assets/img/city.webp" alt="Img Banner" style="width:443px;height:150px;object-fit:cover;object-position:50% 50%">
        </div>
        <a class="banner__time">{{result}}</a>
    </div>
    <div class="navbar">
        <nav>
            <a class="navbar__item" routerLink="">Inicio</a>
            <a class="navbar__item" routerLink="/about">Nosotros</a>
            <a class="navbar__item" routerLink="/galery">Galeria</a>
            <a class="navbar__item" routerLink="/afiliate">Afiliados</a>
            <a class="navbar__item" routerLink="/contact">Contacto</a>
        </nav>
        <nav>
            
            <a href="" class="navbar__login">
                <img class="navbar__img" src="\assets\img\usuario.svg" width="20" height="20" alt="">
                iniciar/registrarse
            </a>
        </nav>
    </div>
</header>