<header>
    <div class="banner">
        <img class="banner__logo" src="" alt="Logo">
        <div class="banner__center">
            <p class="banner__text">SINDICATO UNIFICADO DE GUAGUAS</p>
            <img class="banner__img" src="" alt="Img Banner">
        </div>
    </div>
    <div class="nav">
        <nav>
            <a class="nav__item" href="#">Inicio</a>
            <a class="nav__item" href="#">Nosotros</a>
            <a class="nav__item" href="#">Galeria</a>
            <a class="nav__item" href="#">Afiliados</a>
            <a class="nav__item" href="#">Contacto</a>
        </nav>
    </div>
</header>