<app-navbar></app-navbar>
<div class="container">
    <div class="container__element">
        <h5>Nombre</h5>
        <h5>Apellidos</h5>
        <h5>Numero de empleado</h5>
        <h5>Acciones</h5>
    </div>
    <div *ngFor="let user of users" class="container__element">
        <p>{{user.name}}</p>
        <p>{{user.subname}}</p>
        <p>{{user.employee_number}}</p>
        <div class="buttons">
            <button>
                aceptar
            </button>
            <button (click)="eliminar(user)">
                eliminar
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>