<app-navbar></app-navbar>
<div class="container">
    <div class="container--aside">
        <div class="card box-aside">
            <h1>COVID</h1>
            <p>Mantente informado en la página oficial</p>
            <a href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019" target="_blank">pincha aquí</a>
        </div>
        
        <div class="card box-aside">
            <a href="https://8ae235ad-05f7-4857-bb9d-b59beab2ae5e.filesusr.com/ugd/b9275d_f2007287d77b463b9b5f8dbe65a0fc8f.pdf" target="_blank">Patrones</a>
        </div>
        <div class="card box-aside">
            <a href="https://8ae235ad-05f7-4857-bb9d-b59beab2ae5e.filesusr.com/ugd/b9275d_d84c9cc96dd44a2f9c5fed88cea0c4c3.pdf" target="_blank">Guagua personal</a>
        </div>
        <div class="box-aside">
            <h4>App computo de guaguas</h4>
            <a href="https://play.google.com/store/apps/details?id=com.companyname.GuaguasCPs.Android" target="_blank"><img src="\assets\img\Android_robot.svg" width="50" height="50" alt=""></a>
            <a href="https://apps.apple.com/es/app/guacps/id1512745381" target="_blank"><img src="\assets\img\Apple_logo_black.svg" width="50" height="50" alt=""></a>
        </div>
        <div class="card box-aside">
            <img src="/assets/img/soon-873316_640.png" height="40" width="40" alt="">
            <h4>Nuevo Canal de Difusion via Whatsapp</h4>
            <p>Añade nuestro número en la agenda de contactos de tu móvil para recibir nuestros mensajes... <br>
            Accede en la pestaña de Afiliados.</p>
        </div>
        <div class="card box-aside">
            <h4>Enlaces de interes</h4>
            <label for="ayuntamiento">Ayuntamiento</label><br>
            <a id="ayuntamiento" href="https://www.laspalmasgc.es/es/" target="_blank"><img src="\assets\img\b9275d_89c996b30726485984975d792c29dc8e.webp" alt=""></a><br><br>
            <label for="guaguas">Guaguas</label><br>
            <a id="guaguas" href="https://www.guaguas.com/" target="_blank"><img src="\assets\img\b9275d_6a12e4341a814d65bc073bf180a249bb.gif" width="30" height="30" alt=""></a><br><br>
            <label for="tiempo">Tiempo</label><br>
            <a id="tiempo" href="https://www.eltiempo.es/las-palmas-de-gran-canaria.html" target="_blank"><img src="\assets\img\b9275d_d2c72eade27f45a897a7fdddd1755800.gif" width="50" height="40" alt=""></a><br><br>
            <label for="farmacias">Farmacias</label><br>
            <a id="farmacias" href="https://www.coflaspalmas.es/buscador-de-farmacias-de-guardia/" target="_blank"><img src="\assets\img\b9275d_6bcfc9a7ada04db9a5f05328ed29d62e.gif" width="40" height="40" alt=""></a><br><br>
            <label for="sorteos">Sorteos</label><br>
            <a id="sorteos" href="https://servicios.elpais.com/sorteos/index.html" target="_blank"><img src="\assets\img\b9275d_138153edc1b54a8fa86aeec976b3d8d3.gif" width="40" height="40" alt=""></a><br><br>
            <label for="prensa">Prensa</label><br>
            <a id="prensa" href="https://www.laprovincia.es/" target="_blank"><img src="\assets\img\b9275d_8a000c4294804843bab27edac01a587b.gif" width="40" height="40" alt=""></a>
        </div>
    </div>
    <div class="container--main">
        <!-- <div class="box-main">
            <h1>La metroguagua</h1>
            <iframe width="850" height="600" src="https://www.youtube.com/embed/zBnHuLx793I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> -->
        <div class="card box-main">
            <div class="card-body">
              <h5 class="card-title">La metroguagua</h5>
            </div>
            <iframe style="min-height: 400px;" src="https://www.youtube.com/embed/zBnHuLx793I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <!-- <div class="box-main">
            <h1>Guaguas contra el COVID-19</h1>
            <video controls src="https://video.wixstatic.com/video/b9275d_a2accbdb22f2442eb647a6dae7df3884/480p/mp4/file.mp4"></video>
        </div> -->
        <div class="card box-main">
            <div class="card-body">
              <h5 class="card-title">Guaguas contra el COVID-19</h5>
            </div>
            <video controls src="https://video.wixstatic.com/video/b9275d_a2accbdb22f2442eb647a6dae7df3884/480p/mp4/file.mp4"></video>
        </div>
        <div class="card box-main">
            <h1>El Sindicato Unificado de Guaguas colabora con la campaña "Por un cacho de turron" y el Banco de Alimentos para ayudar a los mas desfavorecidos.</h1>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <img src="https://static.wixstatic.com/media/b9275d_2ffa7cfd2193467292089d2983924181~mv2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.wixstatic.com/media/b9275d_5c44f70fe81d4b0395a17aef31013807~mv2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.wixstatic.com/media/b9275d_0735ffd595e943a2bb76c834cc8ed9ee~mv2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>