.container{
    display: grid;
    background-color:rgb(218, 214, 20);
    text-align: center;
    width: 90%;
    padding: 20px;
    grid-template-columns: 20% 80%;
}

.box-aside{
    background-color:rgb(93, 93, 240);
    border: blanchedalmond solid 1px;
    border-radius: 5px;
    color: rgb(231, 220, 220);
    padding: 5px;
    margin: 5px;
}

.box-aside a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}

.box-main{
    background-color:darkblue;
    border: blanchedalmond solid 1px;
    border-radius: 5px;
    color: darkorange;
    padding: 10px;
    margin: 5px;
}

// h1{
//     color: darkorange;
// }