.container{
    display: grid;
    background-color:rgb(218, 214, 20);
    text-align: center;
    width: 90%;
    padding: 20px;
    grid-template-columns: 20% 80%;
}

.box-aside{
    background-color:dimgray;
    border: blanchedalmond solid 1px;
    border-radius: 5px;
    min-width: 200px;
    color: rgb(139, 9, 9);
    padding: 15px;
    margin: 5px;
    p{
        color: blanchedalmond;
    }
    label{
        color: blanchedalmond;
    }
    a{
        text-decoration: none;
        color:rgb(18, 18, 126);
        font-weight: 600;
        padding:10px;
    }
}

.box-aside:hover{
    background-color: darkgray;
    transition: all 0.3s ease-out;
}

.box-main{
    background-color:black;
    border: blanchedalmond solid 1px;
    border-radius: 5px;
    color: rgb(223, 134, 25);
    padding: 10px;
    margin: 5px;
}

img{
    align-self:  center;
}

@media screen and (max-width: 1300px){

    .box-main{
        max-width: 700px;
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media screen and (max-width: 1200px){

    .box-main{
        max-width: 600px;
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media screen and (max-width: 1000px){

    .box-aside{
        width: 90px;
    }

    .box-main{
        max-width: 400px;
        margin-left: 15%;
        margin-right: 15%;
    }

}

@media screen and (max-width: 1040px){
    // .container{
    //     grid-template-columns: 100%;
    // }
    // .box-aside{
    //     min-width: 90px;
    //     width: 400px;
    //     margin-left: 15%;
    //     margin-right: 15%;
    // }

    // .box-main{
    //     margin-left: 15%;
    //     margin-right: 15%;
    // }
}

@media screen and (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container--aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container--main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-aside{
        width: 400px;
    }

    .box-main{
        width: 400px;
    }

}

@media screen and (max-width: 420px){
    .container{
        grid-template-columns: 100%;
        align-self: center;
        justify-self: center;
    }
    .box-aside{
        min-width: 90px;
        width: 300px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .box-main{
        width: 300px;
        margin-left: 15%;
        margin-right: 15%;
    }

}


@media screen and (max-width: 375px){
    .container{
        grid-template-columns: 100%;
        align-self: center;
        justify-self: center;
    }
    .box-aside{
        min-width: 90px;
        width: 200px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .box-main{
        width: 200px;
        margin-left: 15%;
        margin-right: 15%;
    }

}