.container{
    display: grid;
    background-color:rgb(218, 214, 20);
    text-align: center;
    width: 90%;
    padding: 20px;
    grid-template-columns: 20% 80%;
}

.box-aside{
    background-color: whitesmoke;
    padding: 5px;
    margin: 5px;
}

.box-main{
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px;
}