<app-navbar></app-navbar>
<div *ngIf="isLoged == true">
  <app-private-galery></app-private-galery>
</div>
<div class="container" style=" max-width: 800px;">
        <div class="box-main">
            <div id="carouselPublicIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselPublicIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselPublicIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselPublicIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselPublicIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselPublicIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#carouselPublicIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  <button type="button" data-bs-target="#carouselPublicIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                </div>
                <div class="carousel-inner" >
                  <div class="carousel-item active" >
                    <img src="\assets\img\b9275d_a76b11c2a347485b8eccae016d21c35e.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\assets\img\guaguas-municipales-palmas--644x362.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\assets\img\b9275d_d07958a7ed4a49c1817c789c9f806c9c.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\assets\img\b9275d_f466d1852d6d4b78b4854c3593ccc89d.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\assets\img\b9275d_66418b0501b44747ba9c998485b5265b.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\assets\img\b9275d_30f7658ca93a4f7cac4d47582f6535c8.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="\assets\img\b9275d_7edcfb5a7c9447d7b06c6e79306d1834.webp" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPublicIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPublicIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
</div>
<app-footer></app-footer>