<app-navbar></app-navbar>
<div class="container">
    Eleccion de líneas
</div>
<div class="container_general">
    <div class="container">
        Quincena de tarde
    </div>
    <div class="container">
        Quincena de mañana
    </div>
</div>
<div class="container_general">
    <div class="container_main">
        <div class="container_main_item">
            Listado de Quincena, Vacaciones y Patrones
        </div>
        <div class="container_main_item">
            Listado de correturnos
        </div>
        <div class="container_main_item">
            Grupos de vacaciones y cambio de patrones
        </div>
        <div class="container_main_item">
            Texto refundido de convenio colectivo
        </div>
    </div>
    <div class="container_aside">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/800px-WhatsApp.svg.png" alt="Icono whasap" width="40px" height="40px">
        <h6>Whassap</h6>
        <p>666666666</p>
        <p>Otras cosas</p>
    </div>
</div>
<div class="container">
    <h3>Patrones 2021</h3>
    <div class="container_interno">
        <p class="container_interno_item">Q1</p>
        <p class="container_interno_item">Q2</p>
        <p class="container_interno_item">Q3</p>
        <p class="container_interno_item">Q4</p>
        <p class="container_interno_item">Q5</p>
        <p class="container_interno_item">Q6</p>
        <p class="container_interno_item">Q7</p>
        <p class="container_interno_item">Q8</p>
        <p class="container_interno_item">Q9</p>
        <p class="container_interno_item">Q10</p>
        <p class="container_interno_item">Q11</p>
        <p class="container_interno_item">Q12</p>
    </div>
    <p>TODOS LOS PATRONES</p>
</div>
<div class="container_general">
    <h6 class="container">
        GUAGUA PERSONAL MEDIODIA
    </h6>
    <h6 class="container">
        GUAGUA PERSONAL LABORALES
    </h6>
    <h6 class="container">
        GUAGUA PERSONAL FESTIVOS
    </h6>
</div>
<app-footer></app-footer>