<app-navbar></app-navbar>
<div class="card">
    <h1>2021</h1>
    <div class="container">
        <h4>Eleccion de líneas</h4>
    </div>
    <div class="container_general">
        <a 
        href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Quincena+de+Tarde.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
        target="_blank"
        >
            <div class="container">
                Quincena de tarde
            </div>
        </a>
        <a 
        href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Quincena_de_Man%C3%8C_ana.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
        target="_blank"
        >
            <div class="container">
                Quincena de mañana
            </div>
        </a>
    </div>
    <div class="container_general">
        <div class="container_main">
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=circular_2351.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <div class="container_main_item">
                    Listado de Quincena, Vacaciones y Patrones
                </div>
            </a>
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=CT.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <div class="container_main_item">
                    Listado de correturnos
                </div>
            </a>
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=GV+Y+PATRONES.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <div class="container_main_item">
                    Grupos de vacaciones y cambio de patrones
                </div>
            </a>
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=TEXTO_REFUNDIDO_CONVENIO_COLECTIVO_GUAGUAS_MUNICIPALES_S.A._2016-2019_PDF.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <div class="container_main_item">
                    Texto refundido de convenio colectivo
                </div>
            </a>
        </div>
        <div class="container_aside">
            <img 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/800px-WhatsApp.svg.png" 
            alt="Icono whasap" 
            width="50px" 
            height="50px"
            >
            <h5 style="color: rgb(139, 9, 9);">Nuevo Canal de Difusion via Whatsapp</h5>
            <p>Añade nuestro número en la agenda de contactos de tu móvil para recibir nuestros mensajes...</p>
            <p>633 198 097</p>
        </div>
    </div>
    <div class="container">
        <h4 style="color: rgb(139, 9, 9);">Patrones 2021</h4>
        <div class="container_interno">
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q1-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q1
                </p>
            </a>            
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q2-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q2
                </p>
            </a>            
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q3-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q3
                </p>
            </a>            
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q4-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q4
                </p>
            </a>            
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q5-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q5
                </p>
            </a>            
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q6-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q6
                </p>
            </a>            
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q7-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q7
                </p>
            </a>        
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q8-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q8
                </p>
            </a>        
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q9-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q9
                </p>
            </a>            
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q10-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q10
                </p>
            </a>            
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q11-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q11
                </p>
            </a>            
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Q12-2021.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                <p class="container_interno_item">
                    Q12
                </p>
            </a>
        </div>
        <p>
            <a 
            href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=GV+Y+PATRONES-fusionado.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
            target="_blank"
            >
                TODOS LOS PATRONES
            </a>
        </p>
    </div>
    <div class="container_general">
        <a 
        href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Guagua+Personal+copia.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
        target="_blank"
        >
            <h6 class="container">
                GUAGUA PERSONAL MEDIODIA
            </h6>
        </a>
        <a 
        href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=LABORABLES.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
        target="_blank"
        >
            <h6 class="container">
                GUAGUA PERSONAL LABORALES
            </h6>
        </a>
        <a 
        href="https://host.cpse55.eu:2083/cpsess0830397264/frontend/paper_lantern/filemanager/showfile.html?file=Sabados+y+Festivos.pdf&fileop=&dir=%2Fhome%2Fjonaybri&dirop=&charset=&file_charset=&baseurl=&basedir="
        target="_blank"
        >
            <h6 class="container">
                GUAGUA PERSONAL FESTIVOS
            </h6>
        </a>
    </div>
</div>
<app-footer></app-footer>